body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid rgb(136, 39, 39);
}
th, td {
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
form {
    margin-bottom: 20px;
    width: 90%;
    align-items: center;
}
.titulo {
    display: flex;
    
    text-align: center;
    
}
